body {
	background-image: url('../img/01d.png');
}

a {
	color: white;
}
.container {
	text-align: center;
	color: white;
}

.wrapper {
	margin: 20px;
	background-color: rgba(100,100,100,0.6);
	border-color: 1px solid #fff;
	border-radius: 6%;
}

.app-font {
	font-family: 'Knewave', cursive;
	color: #fef;
}

#app-title {
	font-size: 70px;
}

.item {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 10px;
	font-size: 30px;
}

.butt {
    color: white;
}

#item2 {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

#temperature {
	font-size: 150px;
}

#footer {
	background-color: rgba(255,255,255,0.75);
	padding: 10px 0px 10px 20px;
	margin: 0;
}