body {
	background-image: url('../img/01d.jpg');
}

#tii {
	font-family: 'Knewave', cursive;
	color: #eef;
	font-size: 80px;
}

.container {
	text-align: center;
}

#temperature {
	font-family: 'Knewave';
	color: #eef;
	font-size: 150px;
}

#footer {
	text-align: left;
}