/* HTML Tags */

body {
	background-image: url('../img/01n.png');
}

/* Bootstrap fixes */

.container {
	text-align: center;
	color: #eee;
}

.container a {
	color:#666;
	text-decoration: none;
	cursor: pointer;
}

.container a:hover {
    text-decoration: none;
}

.row {
	margin: 0;
}

/* Container classes */

.wrapper {
	margin: 20px;
	background-color: rgba(100,100,100,0.6);
	border-color: 1px solid #fff;
	border-radius: 25%;
}

/* Fonts */

.app-font {
	font-family: 'Knewave', cursive;
	color: #fef;
}

.body-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/* Body classes */

.item {
	font-size: 30px;
}

/* Body IDs */

#app-title {
	font-size: 65px;
}

#location {
	padding-top: 10px;
}

#wind-info {
	padding-bottom: 10px;
}

#celsius {
	color: #eee;
}

#temperature {
	font-size: 130px;
	padding: 0px;
	margin: 0px;
}

/* Footer */

#footer {
	text-align: left;
	background-color: rgba(255,255,255,0.75);
	padding: 10px 0px 10px 20px;
	margin: 0;
	color: #555;
}